<!DOCTYPE html>
<html>
    <head>
        {{>head }}
    </head>

    <body>
        <header>
            {{>header }}
        </header>
        
        <ul>
            {{#each interests}}
            <li>{{this}} </li>
            {{/each}}
        </ul>

        <footer>
            {{>footer }}
        </footer>
    </body>
</html>